<IfModule mod_rewrite.c>
    options -Multiviews
    RewriteEngine on
    RewriteBase /sharePost/public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>